<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<header th:replace="fragments/header.html :: header"> </header>
<body>
	<div class="wrapper">
		<!-- Sidebar  -->
		<nav th:replace="fragments/sidebar.html :: sidebar">...</nav>

		<!-- Page Content  -->
		<div id="content">
			<!-- Top Bar  -->
			<nav th:replace="fragments/topBar.html :: topBar">...</nav>
			
			<h2 th:inline="text">Welcome to decision maker.</h2>
			<h4> Please select an action from the sidebar.</h4>

		</div>
	</div>

	<div th:replace="fragments/footerScript.html">...</div>

</body>
</html>